@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Update the CSS here to be what you need */
body, html {
    margin: 0;
    width: 1920px;
    height: 1080px;
    background-color: transparent;
}

body {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
}

#video {
    width: 1600px;
    height: 900px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

#container {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: relative;
}

#footer {
    width: 1600px;
    height: 180px;
    position: absolute;
    left: 0;
    top: 900px;
    background-color: #202020;
}

#compass-bg {
    position: absolute;
    left: 1610px;
    top: 770px;
    width: 300px;
    height: 300px;
    background-image: url('https://rapunzel.mintopia.net/scarlet/compass.svg');
    background-size: contain;
    animation: 1s ease-in-out;
}

#time {
    font-size: 36pt;
    font-weight: bold;
    text-align: center;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 0;
}

#date {
    font-size: 18pt;
    text-align: center;
    width: 200px;
    color: #bbbbbb;
}

#text {
    width: 500px;
    height: 180px;
    position: absolute;
    left: 200px;
    top: 0;
    text-align: left;
    padding-left: 40px;
    border-left: 2px solid #333333;

}

.label {
    color: #bbbbbb;
    text-transform: uppercase;
    font-size: 14pt;
    margin-bottom: 10px;
    margin-top: 30px;
}

#sidebar .label {
    margin-top: 20px;
}

#title {
    font-weight: bold;
    font-size: 36pt;
    margin-bottom: 15px;
    margin-top: 10px;
}

#journey {
    font-size: 18pt;
    margin-bottom: 10px;
}

#mmsi {
    color: #bbbbbb;
    font-size: 12pt;
}

#pointer {
    position: absolute;
    left: 1744px;
    top: 880px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 20px 80px 20px;
    border-color: transparent transparent #ff0000 transparent;
}

#sidebar {
    position: absolute;
    left: 1600px;
    top: 0;
    width: 320px;
    height: 1080px;
    padding-top: 340px;
    padding-left: 10px;
    text-align: center;
    background-color: #333333;
}

#weather {
    position: absolute;
    left: 1000px;
    width: 300px;
    height: 180px;
    top: 0;
    text-align: center;
    border-left: 2px solid #333333;
    padding-top: 2px;
}

#weather-summary {
    font-size: 36pt;
}

#air-temperature {
    font-size: 24pt;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}

#wind-direction {
    color: #bbbbbb;
}

#wind-speed {
    color: #bbbbbb;
}

#ocean {
    position: absolute;
    left: 1300px;
    width: 300px;
    height: 180px;
    top: 0;
    text-align: center;
    border-left: 2px solid #333333;
    padding-top: 5px;
}

#ocean .label {
    margin: 10px 0 11px 0;
}

.footer-icon {
    font-size: 24pt;
}

#sea-temperature {
    font-size: 24pt;
    margin-left: 10px;
    display: inline-block;
}

.waves {
    font-size: 24pt;
    color: #bbbbbb;
    margin-top: 15px;
}

#timezone {
    font-size: 10pt;
    color: #999999;
    margin-bottom: 10px;
    margin-top: -5px;
    text-align: center;
    width: 200px;
}

#offline {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    top: 20px;
    width: 400px;
    left: 600px;
    height: 90px;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    z-index: 10;
    line-height: 1em;
    padding-top: 20px;
    border-radius: 8px;
}

#subtitle {
    font-size: 12pt;
    color: #dddddd;
    font-weight: normal;
}

